<tr id="currency_<%= currency.id %>">
  <td><%= currency.name %></td>
  <td><%= currency.code %></td>
  <td><%= currency.collected? ? 'Collected' : 'Not Collected' %></td>
  <td><%= link_to 'Show', currency %></td>
  <td>
    <%= check_box_tag currency.id, 1, currency.collected?, 
      :disabled => currency.collected? %>
  </td>
</tr>
