<section>
  <%= render 'collected_currencies_chart' %>

  <h1>Currencies</h1>

  <%= form_tag collect_currencies_path, :method => :put, :remote => true do %>
    <table class="items">
      <thead>
        <tr>
          <th>Name <%= text_field_tag :filter %></th>
          <th>Code</th>
          <th>Status</th>
          <th></th>
          <th><%= submit_tag "Collect" %></th>
        </tr>
      </thead>
      <tbody>
        <% @currencies.each do |currency| %>
          <%= render 'currency_row', :currency => currency %>
        <% end %>
      </tbody>
    </table>
  <% end -%>  
</section>