<section>
  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Collected</th>
        <td><%= Currency.collected(current_user).count %></td>
      </tr><tr>
        <th>Not Collected</th>
        <td><%= Currency.not_collected(current_user).count %></td>
      </tr>
    </table>
  </div>

  <h1>Currencies</h1>

  <%= form_tag collect_currencies_path, :method => :put, :remote => true do %>
    <table>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Status</th>
        <th></th>
        <th><%= submit_tag "Collect" %></th>
      </tr>

    <% @currencies.each do |currency| %>
      <%= render 'currency_row', :currency => currency %>
    <% end %>
    </table>
  <% end -%>  
</section>