<tr id="country_<%= country.id %>">
  <td><%= country.name %></td>
  <td><%= country.code %></td>
  <td><%= country.visited_at ? 'Visited' : 'Not Visited' %></td>
  <td><%= link_to 'Show', country %></td>
  <td><%= link_to 'Edit', edit_country_path(country) %></td>
  <td>
    <%= check_box_tag country.id, 1, country.visited_at, :disabled => country.visited_at %>
  </td>
</tr>
