<section>
  <%= render 'visited_countries_chart' %>
  <div class='line_chart'><%= country_progress_chart %></div>
  
  <h1>Countries</h1>
  
  <%= form_tag visit_countries_path, :method => :put, :remote => true do %>
    <table class="items">
      <thead>
        <tr>
          <th>Name <%= text_field_tag :filter %></th>
          <th>Code</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th><%= submit_tag "Visit" %> <%= link_to_function "Check all", "checkAllItems();" %></th>
        </tr>
      </thead>
      <tbody>
        <% @countries.each do |country| %>
          <%= render 'country_row', :country => country %>
        <% end %>
      </tbody>
    </table>
  <% end -%>
</section>